audio {
  display: block;
  margin: 1rem auto;
}

.w-10 {
  width: 10%;
}

#tabs-1 {
    margin-top: 5px;
    padding-top: 40px;
    background-color: gray;
}

label {
    font-size: 10px;
    /* font-family: 'SFAlien'; */
}

.row {
    display: flex;
    align-items: center;
}

.slider {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.button {}

.ui-slider-handle {
    /* background-color: black !important; */
}

.custom-handle {
    width: 3em !important;
    height: 1.6em !important;
    top: 50% !important;
    margin-top: -.8em !important;
    text-align: center !important;
    line-height: 1.6em !important;
    border: 1px solid gray !important;
}

.sliderValBox {
    border: 0;
    background: transparent;
    font-size: 10px !important;
    /* width: 100%; */
    margin-bottom: .5rem;
}

.flex-end {
  display: flex;
  align-items: flex-end;
}

#tabs-2 {
    margin-top: 5px;
    padding-top: 20px;
    background-color: #728485;
}


#defaultCanvas0 {
    width: 0px;
}